* {
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    text-align: center;
    margin: 10px;
}
section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

content {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

input {
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
}

#cases {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#bar {
    height: 10px;
    border-color: black;
    border: solid 1px;
    border-radius: 20px;
}

#innerbar {
    background-color: black;
    width: 0;
    height: 10px;
    transition: 1s;
    border-radius: 20px;
}
#cases{
    font-size: 12px;
}

#chars {
    text-align: center;
    margin-top: 10px;
}
#about{
    text-align: center;
    margin-top: 10px;
}

body{
    background-color: rgb(2, 2, 2);
    color: aliceblue;
    overflow-y: hidden;
}
